.card-campaigns {
    .campaigns-card {
        width: 100%;
        height: 220px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
    
        img {
            width: 150%;
            position: absolute;
            left: -70px;
        }
    
        .card-subpara {
            position: absolute;
            color: #ffffff;
            font-size: 15px !important;
            font-weight: 500;
            bottom: 5px;
            left: 10px;
    
            strong {
                color: #ffffff !important;
                font-weight: 700 !important;
            }
        }
    }
    
    .primaryButton {
        a {
            font-weight: 500;
        }
    }
}