@import './main';
@import "./media";

html {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px !important;
    color: map-get($map: $colors, $key: font);
}

.small-para {
    font-size: 16px !important;
}

h4 {
    line-height: 140%;
    color: map-get($map: $colors, $key: strong-second)
}

h6 {
    font-size: 1.4rem;
}

strong {
    color: map-get($map: $colors, $key: strong) !important;
}

section {
    margin: 130px auto;
}

.container {
    @include large {
        width: 66%;
    }
}

#navbar {
    background: transparent;
    position: absolute;
    top: 0;
    box-shadow: none;
    height: 10rem;

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-container {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    #nav-mobile {
        a {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;

            &:hover {
                background: none !important;
                color: color(primary);
            }
        }
    }
}

#heroSection {
    // background: #333333;
    margin: 0;
    height: 95vh;
    display: flex;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-heading {
        color: #ffffff;
        font-weight: 500;
    }

    .hero-para {
        font-size: 24px !important;
        color: #ffffff;
    }
}

#secondSection {
    .secondSection--heading {
        h4 {
            color: map-get($map: $colors, $key: font);
        }
    }
}

#thirdSection {
    h4 {
        margin-top: 0px;
    }

    .thirdSection--firstpara {
        width: 95%;
    }
}

#campaigns {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: color(section-bgcolor);

    h4 {
        margin-top: 0px;
    }

    .card-three {
        img {
            width: 175% !important;
            left: -140px !important;
        }
    }
}

#socialSection {
    .social-col {
        display: flex;
        align-items: center;

        .social-col-icon {
            font-size: 24px;
            margin-right: 6px;
            color: #1BA3F4;
        }

        h6 {
            margin: 0;
            font-size: 1.2rem;
        }
    }
}

#footer {
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 150px;
    background-color: color(section-bgcolor);

    .footerlogo-para {
        font-size: 12px !important;
    }

    .footer-menu-item {
        color: color(font);
        font-size: 14px;
        margin-bottom: 15px;
    }

    .footer-social-menu-items {
        display: flex;

        .footer-social-menu-item {
            border: 1px solid color(font);
            border-radius: 50px;
            padding: 4.5px;
            background: color(font);
            display: flex;
            margin-right: 5px;

            a {
                line-height: 10px;
                color: #ffffff;
            }
        }
    }
}